body {
    background-color: black;
    /* background: linear-gradient(to left top, white, #8BEE56,gray) fixed; */
  }
  
.fitting{
    width: 300px;
	margin-top: 20px;
	margin-left: 25px;
	padding:25px;
    display: inline-block;
	vertical-align: top;
	box-shadow: 2px 2px 6px black;
}

.centered {
    position: absolute;
    width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brightText{
    color: white;
}

ul#links li {
    display:inline;
}

p{
    color:white;
}
h3 {
    font-size: 62px;
    background: -webkit-linear-gradient( #eee,#333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.niceLook {
    font-size: 32px;
    background: -webkit-linear-gradient( #333,#eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }